@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /*======== Main theme colors ========*/
  --first-color: #0e2431;
  --second-color: #64c66a;
  --third-color: #777;
  /*======== Hover colors ========*/
  --hover-color: #3b9e41;
  /*=========== Background color ========*/
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --modal-bg-color: #fff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color-01: rgba(0, 0, 0, 0.1);
  --transparent-color-02: rgba(106, 89, 209, 0.1);
  --line-color: #d7d7d7;

  /*=========== Color Filter ========*/
  --color-filter: invert(1);

  /*======== Box Shadow =======*/
  --box-shadow: 0px 0px 20px rgb(0 0 0 /10%);

  /*======= Font Size ========*/
  --small-font-size: 0.9em;
  --normal-font-size: 1em;

  /*========Scroll bar  colors========*/
  --scroll-bar-color: #c5cadf;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;
}

.dark-theme {
  /*======== Main theme colors ========*/
  --first-color: #fff;
  --second-color: #6a59d1;
  --third-color: #a9afc3;

  /*=========== Background color ========*/
  --body-bg-color: #0e1b31;
  --card-bg-color: #132347;
  --modal-bg-color: #102048;
  --bg-transparent-color: rgba(255, 255, 255, 0.1);
  --transparent-color-01: rgba(255, 255, 255, 0.1);
  --line-color: #454f6b;

  /*=========== Color Filter ========*/
  --color-filter: invert(0);

  /*========Scroll bar  colors========*/
  --scroll-bar-color: #c1ceff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--first-color);
  background: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*==========Scroll To Top Button==============*/
.scrollToTop-btn {
  z-index: 99999;
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background: #858585;
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 30px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  pointer-events: all;
  opacity: 1;
}

/*========Light/Dark Theme Button==========*/
.theme-btn {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 100px;
  background: var(--transparent-color-01);
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.theme-btn .fa-sun,
.theme-btn.sun .fa-moon {
  display: none;
}

.theme-btn.sun .fa-sun {
  display: block;
}

/*==========Scroll Bar========*/
::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

/*========Header========*/

header {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: 0.6s ease;
}

header.sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.nav-bar {
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: 0.6s ease;
  overflow: hidden;
}

header.sticky .nav-bar {
  height: calc(2.5rem + 1rem);
}

.nav-bar .logo {
  color: var(--first-color);
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 20px;
}

.nav-items a {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.nav-items a.active {
  color: var(--second-color);
}

.nav-items a:not(:last-child) {
  margin-right: 50px;
}

.nav-items a:hover {
  color: var(--second-color);
}

.nav-menu-btn {
  display: none;
}

.nav-close-btn {
  visibility: hidden;
}

/*==========Home Section=========*/
.home {
  position: relative;
  max-width: 1250px;
  min-width: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem;
  flex-direction: column;
  height: 100vh;
}

.home .home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-container .media-icons {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.home-container .media-icons a {
  color: var(--second-color);
  font-size: 1.5em;
  margin: 10px 0;
}

.home-container .media-icons a:hover {
  color: var(--hover-color);
  transform: scale(1.5) !important;
  transition: 0.2s ease-in-out !important;
}

.home-container .info h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: 70px;
}
.home-container .info {
  flex-grow: 2;
  margin-left: 5rem;
}

.home-container .info h3 {
  color: var(--second-color);
  font-feature-settings: 2rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 50px;
  flex-grow: 1;
}

.home-container .info p {
  color: var(--third-color);
  font-size: var(--normal-font-size);
  max-width: 350px;
}

.btn {
  background: var(--second-color);
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 500;
  display: inline-block;
  margin-top: 25px;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 10px;
}

.about-info .btn {
  text-align: center;
}

.about-info .btn:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(110%);
  transition: 0.25s;
}

.btn:hover {
  background: var(--hover-color);
}

.home-container .home-img img {
  position: absolute;
  width: 70vh;
  top: -20rem;
  left: -35rem;
  bottom: 0;
  right: 0;
}

.home-container .ar-img img {
  position: absolute;
  width: 70vh;
  top: -20rem;
  right: -35rem;
  bottom: 0;
  left: 0;
}

.home .scroll-down {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-top: 10em;
}

.home .scroll-down i {
  color: var(--second-color);
  font-size: 1.2em;
  animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
}

/*=======Common Style For All Section======*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
}

.sub-section {
  position: relative;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0;
}

.section-title-01 {
  font-size: 4.5em;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.section-title-02 {
  font-size: 2.5em;
  font-weight: 700;
  transform: translateY(-80px);
}

.section-title-02::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background: var(--second-color);
}

.section-title-03 {
  font-size: 2.5em;
  font-weight: 700;
  transform: translateY(-80px);
}

.section-title-03::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background: var(--second-color);
}

.container {
  position: relative;
  flex-direction: column;
}

/*=========About Section==========*/

.about .container .content {
  column-gap: 40px;
  width: 100%;
}

.about-img {
  position: relative;
}

.about-img img {
  max-width: 100%;
  border-radius: 10px;
}

.about-info .description {
  max-width: 600px;
}

.about-info .description h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 span {
  color: var(--second-color);
}

.about-info .description p {
  color: var(--third-color);
  font-size: var(--normal-font-size);
  margin-bottom: 15px;
  text-align: justify;
}

.about-info .professional-list {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.about-info .professional-list .list-item h3 {
  font-size: 2.5em;
  font-weight: 700;
}

.about-info .professional-list .list-item span {
  color: var(--third-color);
  font-size: var(--small-font-size);
}

/*=========Skills Section============*/
.skills .container .content {
  width: 100%;
}

.skills-description {
  max-width: 700px;
  margin-bottom: 50px;
}

.skills-description h3 {
  font-size: 2em;
  margin-bottom: 5px;
}

.skills-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.skills-info h4 {
  margin-bottom: 20px;
}

.skills-info label {
  background: var(--second-color);
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
}

.education-all {
  margin-bottom: 80px;
}

.edu-list .item {
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  border-bottom: 3px solid var(--second-color);
  padding: 20px;
  margin-top: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.edu-list .item .year {
  font-size: var(--small-font-size);
  margin-bottom: 5px;
}

.edu-list .item p {
  color: var(--third-color);
  font-size: var(--small-font-size);
}

.edu-list .item p span {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.skills .skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.skills .skill {
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  border-bottom: 3px solid var(--second-color);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skills .skill span {
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}

.skills .skill span:nth-child(1) {
  color: var(--second-color);
  font-weight: bolder;
  font-size: larger;
}

.experience-card {
  background: var(--card-bg-color);
  border-bottom: 3px solid var(--second-color);
  padding: 35px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;
}

.experience-card .upper {
  line-height: 30px;
}

.experience-card h3 {
  font-size: 1.3em;
  font-weight: 700;
}

.experience-card h5 {
  font-size: var(--small-font-size);
  font-weight: 500;
  font-style: italic;
}

.experience-card span {
  color: var(--third-color);
}

.experience-card .hr {
  width: 100%;
  height: 2px;
  background: var(--line-color);
  margin: 10px 0 22px;
}

.edu-list .item:hover,
.bar:hover,
.experience-card:hover,
.skills .skill:hover {
  transform: scale(1.03);
}

/*============Services Section================*/

.services .container .content {
  width: 100%;
}

.services-description h3 {
  font-size: 2em;
  margin-bottom: 50px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  max-width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.service-card {
  background: var(--card-bg-color);
  border-bottom: 3px solid var(--second-color);
  padding: 50px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

.service-card > i {
  color: var(--second-color);
  font-size: 3em;
  margin-bottom: 30px;
}

.service-card h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
}

.service-card .learn-more-btn {
  color: var(--third-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.service-card .learn-more-btn i {
  transition: 0.3s ease;
}

.service-card:hover .learn-more-btn i {
  transform: translateX(10px);
}

.service-modal {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--bg-transparent-color);
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.service-modal.active {
  visibility: visible;
  opacity: 1;
}

.service-modal-body {
  position: relative;
  background: var(--modal-bg-color);
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transform: translateY(-50px);
  transition: 0.5s ease;
}

.service-modal.active .service-modal-body {
  transform: translateY(0);
}

.service-modal-body .modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.service-modal-body h3 {
  font-size: 2em;
}

.service-modal-body h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 15px 0 10px;
}

.service-modal-body ul li {
  margin-top: 15px;
}

.service-modal-body ul li i {
  color: var(--second-color);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  padding-top: 6rem;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #151515;
  background: var(--second-color);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(21, 21, 21, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(21, 21, 21, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #4b741b;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portbor {
  border: 4px var(--second-color) solid;
  border-radius: 10px;
}
/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4b741b;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #4b741b;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(21, 21, 21, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*=======Get-in-Touch=======*/

.get-in-touch {
  margin-top: 70px;
}

.get-in-touch .sub-section {
  padding: 6rem 0 0 0;
}

.get-in-touch .container .content {
  width: 100%;
}

.get-in-touch .contact-card {
  position: relative;
  width: 90%;
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  padding: 50px;
  border-radius: 10px;
  column-gap: 50px;
}

.contact-card .title {
  text-transform: uppercase;
  line-height: 60px;
}

.contact-card .title h4 {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 20px;
}

.contact-card .title h3 {
  font-size: 2.3em;
  font-weight: 400;
}

.contact-card .title h2 {
  font-size: 4.2em;
  font-weight: 700;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
}
/*=======Our Clients=======*/

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--second-color);
  font-size: 3em;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=======Contact section=======*/

.contact .container .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-left h2 {
  font-size: 2.1em;
  font-weight: 800;
  margin-bottom: 40px;
}

.contact-list li {
  margin-bottom: 40px;
}

.contact-list li h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-list li h3 i {
  color: var(--second-color);
  font-size: 1.3em;
  margin-right: 10px;
}

.contact-list li span {
  color: var(--third-color);
  margin-left: 40px;
}

.contact-list li span a {
  color: var(--third-color);
}

.contact-right p {
  color: var(--third-color);
  font-size: 1.6em;
  margin-bottom: 30px;
}

.contact-right p span {
  color: var(--first-color);
  font-weight: 700;
}

.contact-form input,
.contact-form textarea {
  border: none;
  color: var(--first-color);
  background: var(--transparent-color-02);
  font-size: var(--normal-font-size);
  margin-bottom: 20px;
  padding: 15px 40px 15px 20px;
  border-radius: 5px;
}

.contact-form textarea {
  width: 100%;
  resize: none;
}

::placeholder {
  color: var(--first-color);
}

.contact-form .first-row input {
  width: 100%;
}

.contact-form .second-row {
  display: flex;
  justify-content: space-between;
}

.contact-form .second-row input {
  width: 48%;
}

.contact-form .btn {
  border: none;
  margin-top: 0;
  border-radius: 5px;
  cursor: pointer;
}

/*=======Footer=======*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--second-color);
  width: 100%;
  margin-top: 50px;
  padding: 3rem 2rem;
  color: #fff;
}

footer a {
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}

.footer-container .about h2 {
  font-size: 3em;
  font-weight: 600;
  background: linear-gradient(to top, transparent 0%, #fff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}

.footer-container .about p {
  font-size: var(--normal-font-size);
  font-weight: 300;
  margin-bottom: 30px;
}

.footer-container .info,
.footer-container .follow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container .info h3,
.footer-container .follow h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-container .info ul,
.footer-container .follow ul {
  display: flex;
}

.footer-container .info a {
  margin: 20px;
}

.footer-container .follow a {
  font-size: 1.5em;
  margin: 10px;
}
.footer-container .fab:hover {
  transform: scale(1.5) !important;
  transition: 0.2s ease-in-out !important;
}

.media-icons a:hover:nth-child(1) {
  color: rgb(101, 146, 228);
}
.media-icons a:hover:nth-child(2) {
  color: rgb(21, 21, 227);
}
.media-icons a:hover:nth-child(3) {
  color: purple;
}
.media-icons a:hover:nth-child(4) {
  color: yellow;
}
.media-icons a:hover:nth-child(5) {
  color: rgb(9, 177, 29);
}

.footer-copyright p {
  font-size: var(--normal-font-size);
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

/*=======Media query max-width 1070px=======*/
@media screen and (max-width: 1600px) {
  /*=======Header navigation menu=======*/
  .home-container .home-img img {
    top: -15rem;
  }
  .home-container .ar-img img {
    top: -15rem;
  }
}
@media screen and (max-width: 1070px) {
  /*=======Header navigation menu=======*/
  .section {
    width: 100%;
  }
  .nav-bar .logo {
    padding-bottom: 30px;
  }

  .navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--transparent-color-01);
    visibility: hidden;
    opacity: 0;
    transition: 0.9s ease;
  }

  .navigation.active {
    visibility: visible;
    opacity: 1;
  }

  .nav-items {
    position: relative;
    background-color: var(--modal-bg-color);
    width: 600px;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }

  .nav-items a {
    margin: 15px 50px;
  }

  .nav-menu-btn {
    position: absolute;
    background: url("../img/close-btn.webp") no-repeat;
    filter: var(--color-filter);
    background-size: 12px;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
  }

  .nav-close-btn {
    visibility: visible;
  }

  .nav-menu-btn {
    background: url("../img/menu-btn.webp") no-repeat;
    filter: var(--color-filter);
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
  }

  .edu-list .item {
    text-align: center;
  }
  .experience-card {
    text-align: justify;
  }
  /*=======Home section=======*/

  /*=======About section=======*/

  /*=======Get-in-Touch=======*/

  /*=======Our clients=======*/

  /*=======Contact section=======*/

  /*=======Footer=======*/
}

/*=======Media query max-width 730px=======*/
@media screen and (max-width: 730px) {
  /*=======Common styles for all sections=======*/
  .home {
    min-width: 0;
  }
  .sub-section {
    width: 500px;
  }

  .home-container .info {
    margin-left: 0;
  }
  .home-container .info h3 {
    font-size: 1rem;
    width: 370;
  }

  /*=======Home section=======*/
  h3,
  h4,
  .service-card {
    text-align: center;
  }

  .service-modal-body {
    margin: 10px;
    padding: 20px;
  }

  /*=======Get-in-touch section=======*/
  .get-in-touch .container .content,
  .get-in-touch .contact-card {
    width: 100%;
  }

  /*=============contact section===============*/

  .section-title-01 {
    font-size: 3.4em;
  }

  .contact-list li span {
    margin-left: 0px;
  }

  .contact-form .btn {
    width: 100%;
  }

  .contact-left {
    text-align: center;
  }

  .home-container .media-icons {
    flex-direction: row;
  }

  .home-container .media-icons a {
    margin: 10px 20px;
  }
  .home .home-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home-container .info p {
    max-width: 500px;
  }

  .home-container .info h2 {
    text-align: initial;
  }
  .home-container .home-img img {
    position: absolute;
    opacity: 0.3;
    left: -25rem;
    z-index: -999;
    clip: rect(0px, 516px, 600px, 0px);
  }
  .home-container .ar-img img {
    position: absolute;
    opacity: 0.3;
    right: -20rem;
    z-index: -999;
    clip: rect(0px, 516px, 600px, 0px);
  }
  .contact .container .content {
    flex-direction: column;
  }

  .flex-center {
    flex-direction: column;
  }

  .about-img img,
  .footer-container .info {
    margin-bottom: 30px;
  }

  .about-info .description h4 {
    font-size: 1em;
  }

  /*========footer==========*/

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .about.group {
    order: 1;
  }

  .follow.group {
    order: 2;
  }

  .footer-copyright.group {
    order: 3;
  }

  .swiper {
    height: 300px;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.flagg img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
}

.alert.alert-success.alert-dismissable {
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
  margin: 10px 0 -60px 0;
  background-color: var(--second-color);
  color: white;
  text-align: center;
}

.close {
  margin-right: 5px;
  border: none;
  background-color: #b6b1b100;
  font-size: larger;
  color: white;
}

ol,
ul {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.h4,
h4 {
  font-size: unset !important;
}

.portfolio-links a button {
  font-size: 15px !important;
  padding: 5px 12px !important;
  border-radius: 10px !important;
  background: var(--second-color) !important;
  color: white !important;
}
.btnfolio:hover {
  background-color: var(--third-color);
  transform: scale(110%);
  transition-duration: 0.5s;
}
